.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.home__img{
    height: 80%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    z-index: 1;
}

.home__data{
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}

.home__title{
    position: relative;
    font-size: var(--h2-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span{
    color: var(--first-color);
}

.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home__description{
    line-height: 2.125;
    margin-block: 16px 32px;
}

.color__black{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -85%;
    transform: rotate(-15deg);
}

@media screen and (max-width: 1028px){
    .home__img{
        height: 50%;
    }
}

@media (max-width: 612px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        padding: 20px;
    }

    .home__img {
        width: 30%;
        height: 30%;
    }

    .home__data {
        max-width: 90%; 
        padding: 10px;
    }

    .home__title {
        font-size: 28px; 
        margin-left: 0; 
        padding-left: 0;
    }

    .home__title::before {
        display: none; 
    }

    .home__description {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
        display: block; 
    }

    .button {
        font-size: 16px;
        padding: 10px 20px;
        margin: 0 auto; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button__icon {
        font-size: 16px;
        margin-left: 5px;
    }

    .color__black {
        display: none; 
    }
}

@media screen and (max-width: 445px){
    .home__img{
        display: none;
    }
}

@media screen and (max-width: 328px){
    .button{
        display: none;
    }
}